{{define "body"}}<?xml version="1.0" encoding="ISO-8859-1"?>
<netprobe
        compatibility="1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.itrsgroup.com/GA2011.2-110303/netprobe.xsd">
        <selfAnnounce>
                <enabled>true</enabled>
                <retryInterval>60</retryInterval>
                <requireReverseConnection>false</requireReverseConnection>
                <probeName>{{.Probename}}</probeName>
                <managedEntities>
                <managedEntity>
                        <name>{{.Managedentity}}-Infra</name>
                        <attributes>
                                <attribute name="COUNTRY">USA</attribute>
                                <attribute name="CITY">New York</attribute>
                                <attribute name="ENVIRONMENT">PROD</attribute>
                                <attribute name="APPLICATION">Infrastructure</attribute>
                        </attributes>
                        <types>
                                <type>Infrastructure</type>
                        </types>
                </managedEntity>
                </managedEntities>
                <gateways>
			<gateway>
                                <hostname>gateway-k8-lab1</hostname>
                                <port>7039</port>
                        </gateway>
                        <gateway>
                                <hostname>gateway-k8-lab0</hostname>
                                <port>7039</port>
                        </gateway>
                </gateways>
        </selfAnnounce>
</netprobe>
{{end}}
